#homepage {
  background-color: #121212;
  #homepage-container {
    --bs-gutter-x: 0rem;
  }
  .homepage-left {
    display: flex;
    justify-content: center;
  }

  .homepage-right {
    display: flex;
    flex-direction: column;

    .homepage-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 572px;
      margin-top: 90px;
      margin-bottom: 35px;

      span {
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        color: #ffffff;
      }
      .homepage-option {
        padding: 5px;
        background-color: #1d1d1d;
        border-radius: 5px;
        color: #535353;
        display: flex;
      }
    }
  }
}

.card-group {
  width: 572px !important;
  min-width: 572px !important;
  flex-direction: column !important;
}

.card {
  background-color: transparent !important;
  margin-bottom: 50px !important;
  border: none !important;

  .border-tl {
    border-top-left-radius: 20px;
  }
  .border-tr {
    border-top-right-radius: 20px;
  }
  .border-bl {
    border-bottom-left-radius: 20px;
  }
  .border-br {
    border-bottom-right-radius: 20px;
  }

  .border-tb {
    border-radius: 20px !important;
  }

  .card-header {
    display: flex;
    background-color: transparent !important;
    border: none !important;
    margin: 23px 0;
    padding: 0;

    & > div {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      justify-content: center;
      margin-left: 15px;
    }
    .header-top {
      display: flex !important;
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      color: #959290;
      .header-name {
        color: white;
      }
    }
    .header-bottom {
      display: flex !important;
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      color: #959290;
    }
  }
  .card-body {
    background-color: #1d1d1d;
    padding: 0;

    .card-title {
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      color: #ffffff;
    }
    .card-text {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #959290;

      text-align: left;
    }
    .card-favor {
      margin: 25px;
      display: flex;
      justify-content: space-between;

      span {
        margin: 0 20px 0 10px;
        font-weight: 400;
        font-size: 16px;
        line-height: 141.52%;
        color: #959290;
      }
    }
  }
  .card-footer {
    background-color: #1d1d1d;
    padding: 0;
    border: none !important;

    .card-title {
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      color: #ffffff;
    }
    .card-text {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #959290;

      text-align: left;
    }
    .card-link {
      height: 63px;
      background: #2a2a2a;
      border: 1px solid #333333;
      box-sizing: border-box;
      border-radius: 10px;
      margin: 30px 25px 0;
      display: flex;
      align-items: center;

      .link-icon {
        width: 40px;
        height: 40px;
        margin-left: 20px;
        margin-right: 20px;
        color: #959290;
      }
      .link-content {
        border-left: solid 1px #333333;
        height: inherit;
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .link-top {
          font-weight: 700;
          font-size: 16px;
          line-height: 19px;
          color: #ffffff;
        }
        .link-bottom {
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          color: #959290;
        }
      }
    }
    .card-favor {
      margin: 25px;
      display: flex;
      justify-content: space-between;

      span {
        margin: 0 20px 0 10px;
        font-weight: 400;
        font-size: 16px;
        line-height: 141.52%;
        color: #959290;
      }
    }
    .card-line {
      border-bottom: solid 1px #959290;
      margin: 0 25px 20px;
    }

    .chat-container {
      display: flex;
      text-align: left;
      margin: 20px 25px !important;

      & > img {
        width: 40px;
        height: 40px;
        margin-right: 20px !important;
      }
      .chat-content {
        .post-comment {
          width: 471px;
          height: 40px;
          background: #232323;
          border-radius: 100px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0 15px;

          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          color: #535353;
        }
        .chat-title {
          display: flex !important;
          font-weight: 700;
          font-size: 16px;
          line-height: 19px;
          color: #959290;
          margin-bottom: 5px !important;
          justify-content: space-between;

          .chat-name {
            color: white;
          }
        }
        .chat-text {
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          text-align: left;
          color: #ffffff;
          margin-bottom: 8px;
        }
        .chat-favor {
          margin-bottom: 20px;
          display: flex;
          align-items: center;

          span {
            margin: 0 17px 0 5px;
            font-weight: 400;
            font-size: 12px;
            line-height: 141.52%;
            color: #959290;
          }
        }
      }
    }
  }
}
