#nav {
  color: white;
  height: 90px;
  background-color: #121212;
  border-bottom: solid 1px #4e4e4e;
}

.nav-container {
  margin: 0 !important;
  padding: 0 20px !important;
  max-width: 100vw !important;
}
.nav-left {
  display: flex;
  align-items: center;
}

#logo {
  width: 36px;
  height: 36px;
  background: #232323;
  border-radius: 10px;
  padding: 7.5px 6px;
}

#nav-search {
  width: 225px;
  height: 36px;
  background: #232323;
  border-radius: 100px;
  padding-left: 16px;
  display: flex;
  align-items: center;
}

#navbar-search {
  background-color: transparent;
  border: none;
  padding: 0;
  padding-left: 8px;
  outline: none !important;
  font-family: "InterRegular";
  font-size: 14px;
  line-height: 17px;
  color: #535353;
  width: 99%;
}
#navbar-search::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #535353;
}
.navbar-light .navbar-toggler {
  border: none !important;
  box-shadow: none !important;
}
.navbar-light .navbar-toggler:focus {
  box-shadow: none !important;
  outline: none !important;
}
.navbar-toggler-icon {
  background-image: url(../imgs/menu.svg) !important;
}
.nav-links {
  font-family: "InterBold";
  font-size: 16px;
  line-height: 19px;

  color: #959290 !important;
  margin-right: 20px;
}

#nav-btn {
  width: 107px;
  height: 40px;
  background: linear-gradient(270deg, #7b31e4 0%, #3368f7 100%);
  border-radius: 100px;
  border: none;

  font-family: "InterBold";
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}

#user {
  width: 44px;
  height: 44px;
  display: initial;
  padding: 0;
}

@media only screen and (max-width: 991px) {
  #basic-navbar-nav {
    position: absolute;
    top: 90px;
  }
}

@media only screen and (max-width: 680px) {
  #nav {
    height: 110px;
  }
  #basic-navbar-nav {
    position: absolute;
    top: 110px;
    left: 0;
  }
}

@media only screen and (max-width: 364px) {
  .navbar-light .navbar-toggler {
    padding: 4px;
  }
  .navbar-light .navbar-toggler:focus {
    padding: 4px;
  }
}
