#profile {
  background-color: #121212;
  .profile-header {
    .profile-header-bg {
      background-image: url(../imgs/profile-baner-bg.png);
      background-size: cover;
      height: 200px;
    }
    .profile-header-top {
      padding: 0 136px;
      display: flex;
      justify-content: space-between;
      @media only screen and (max-width: 992px) {
        padding: 0 5vw;
      }

      .pro-header-top-left {
        height: 86px;
        position: relative;
        align-items: center;
        display: flex;
        justify-content: flex-start;
        padding: 0;
        img {
          width: 148px;
          height: 148px;
          position: absolute;
          bottom: 0;
          border: solid 10px #121212;
          border-radius: 100%;
        }
        & > div:last-child {
          margin-left: 164px;
          align-items: flex-start;
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 100%;
        }
      }
      .pro-header-top-right {
        height: 86px;
        align-items: center;
        display: flex;
        justify-content: flex-end;
        padding: 0;
        button {
          border: none;
          width: 138px;
          height: 40px;
          border-radius: 100px;
          color: #fff;
        }
        .pro-header-msg {
          background: #1d1d1d;
        }
        .pro-header-subscribe {
          background: linear-gradient(270deg, #7b31e4 0%, #3368f7 100%);
        }
      }
    }

    .profile-header-bottom {
      padding: 0 118px;
      margin-top: 56px;

      .nav-tabs {
        border-color: #2a2a2a;
        .nav-item {
          margin-right: 30px;
          background: linear-gradient(270deg, #7b31e4 0%, #3368f7 100%);
        }
        .nav-link {
          font-family: "InterRegular";
          font-size: 16px;
          line-height: 19px;
          color: #fff;
          border: none;
          padding: 10px 0px;
          border-radius: 0;
          background-color: #121212;
        }
        .nav-link.active {
          font-family: "InterBold";
          margin-bottom: 3px;
          padding: 10px 0 7px;
        }
      }
    }
  }
  .profile-body {
    --bs-gutter-x: 0rem;
    padding: 0 20px;

    .profile-body-left {
      display: flex;
      justify-content: center;
      margin-top: 40px;

      .profile-sidebar {
        width: 257px;
        display: flex;
        flex-direction: column;

        .pro-mobile-container {
          display: none;
        }

        .pro-sidebar-container {
          background: #1d1d1d;
          border-radius: 20px;
          padding: 17px 21px;
          margin-bottom: 20px;
          display: flex;
          flex-direction: column;
          // border-bottom: solid 1px #2a2a2a;
          color: #959290;

          .pro-sidebar-logo {
            display: flex;
            & > img {
              width: 40px;
              height: 40px;
              padding: 8px 7px;
              background: #232323; /* #2A2A2A */
              border: 1px solid #2a2a2a;
              border-radius: 5px;
            }

            & > div {
              align-items: flex-start;
              display: flex;
              flex-direction: column;
              justify-content: center;
              margin-left: 11px;
              width: 100%;
            }
          }
          .pro-sidebar-social {
            display: flex;
            align-items: center;
            padding-bottom: 13px;
            margin-bottom: 9px;
            width: 100%;
            border-bottom: 1px solid #2a2a2a;
            & > a {
              margin-right: 10px;
            }
          }
          .pro-sidebar-items {
            display: flex;
            flex-wrap: wrap;
            .pro-sidebar-item {
              display: flex;
              align-items: center;
              height: 30px;
              background: #121212;
              border: 1px solid #535353;
              border-radius: 100px;
              padding: 0 10px;
              margin: 5px;
              margin-left: 0;
            }
          }
        }
      }
    }

    .profile-body-right {
      display: flex;
      flex-direction: column;
      margin-top: 15px;
      margin-bottom: 40px;

      @media only screen and (max-width: 900px) {
        align-items: center;
      }

      .card {
        .card-body {
          position: relative;
          // .card-body-img {
          //   background-image: url(../imgs/blurry1.png);
          //   background-size: contain;
          //   background-repeat: no-repeat;
          //   height: 100%;
          // }
          .card-img-modal {
            position: absolute;
            width: 90%;
            max-width: 457px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: rgba($color: #121212, $alpha: 0.8);
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px;
            color: #959290;

            & > img {
              margin: 30px 0 20px;
              @media only screen and (max-width: 415px) {
                margin: 10px 0;
              }
            }
            .card-modal-unlock {
              width: 138px;
              height: 40px;
              background: #121212;
              border-radius: 100px;
              border: none;
              margin-bottom: 25px;
              margin-top: 10px;
              @media only screen and (max-width: 415px) {
                margin-bottom: 0px;
                margin-top: 0;
              }
            }
          }
          .card-blurry1 {
            width: 46.6%;
            height: 22px;
            background: #2a2a2a;
            border-radius: 100px;
            margin-bottom: 7px;
          }
          .card-blurry2 {
            width: 100%;
            height: 17px;
            background: #2a2a2a;
            border-radius: 10px;
            margin-bottom: 5px;
          }
          .card-blurry3 {
            width: 75.8%;
            height: 17px;
            background: #2a2a2a;
            border-radius: 10px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  #profile {
    .profile-header {
      .profile-header-top {
        flex-direction: column !important;
        align-items: center !important;
        padding: 0 !important;

        .pro-header-top-left {
          flex-direction: column;
          justify-content: flex-end;

          img {
            width: 106px !important;
            height: 106px !important;
            border: solid 5px #121212 !important;
          }
          & > div:first-child {
            position: absolute;
            top: 45px;
            display: flex;
            justify-content: center;
          }
          & > div:last-child {
            margin-left: 0px !important;
            align-items: center !important;

            span:first-child {
              font-size: 16px !important;
              line-height: 19px !important;
            }
            span:last-child {
              font-size: 10px !important;
              line-height: 12px !important;
            }
          }
        }
        .pro-header-top-right {
          padding-top: 10px;
        }
      }
      .profile-header-bottom {
        padding: 0 20px !important;
        margin-top: 0px !important;

        .nav-tabs {
          .nav-item {
            margin-right: 20px !important;
          }
          .nav-link {
            font-size: 14px;
            line-height: 17px;
            padding: 10px 0px;
          }
          .nav-link.active {
            margin-bottom: 3px;
            padding: 10px 0 7px;
          }
        }
      }
    }

    .profile-body-left {
      margin-top: 30px !important;

      .profile-sidebar {
        width: 100% !important;
        max-width: 350px !important;

        .pro-sidebar-container {
          display: none !important;
        }

        .pro-mobile-container {
          background: #1d1d1d;
          border-radius: 20px;
          // margin-bottom: 20px;
          display: flex !important;
          flex-direction: column;
          color: #959290;

          .pro-mobile-logo {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #2a2a2a;
            padding: 20px;

            & > div:first-child {
              display: flex;
              align-items: center;

              img {
                width: 18px;
                height: 18px;
                padding: 3px 2px;
                background: #232323;
                border: 1px solid #2a2a2a;
                border-radius: 5px;
                margin-right: 5px;
              }
            }
          }
          .pro-mobile-about {
            padding: 20px 20px 27px;
            border-bottom: 1px solid #2a2a2a;

            & a {
              margin-right: 10px;
            }
          }
          .pro-mobile-items {
            display: flex;
            flex-wrap: wrap;
            padding: 0 20px 20px;

            .pro-mobile-item {
              display: flex;
              justify-content: center;
              flex-direction: row;
              align-items: center;
              height: 21px;
              background: #121212;
              border: 1px solid #535353;
              border-radius: 100px;
              padding: 3px 9px;
              margin-right: 5px;
            }
          }
        }
      }
    }
    .profile-body-right {
      margin-bottom: 0px !important;
      .popuptext {
        display: none !important;
      }
    }
  }
}
