.sidebar {
  width: 217px;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  background-color: #121212;

  .sidebar-container {
    padding-bottom: 4px;
    margin-bottom: 14px;
    display: flex;
    flex-direction: column;
    border-bottom: solid 1px #2a2a2a;

    &:last-child {
      border: none;
    }

    span {
      margin-left: 10px;
    }

    .link-item {
      font-family: "InterBold";
      font-size: 16px;
      line-height: 19px;
      color: #ffffff;

      margin-bottom: 27px;
      display: flex;
      justify-content: start;
      align-items: center;
      margin-bottom: 27px;
    }

    .sidebar-title {
      font-family: "InterBold";
      font-size: 12px;
      line-height: 15px;
      color: #959290;

      margin-bottom: 29px;
      display: flex;
      justify-content: start;
    }

    .creater-item {
      font-family: "InterMedium";
      font-size: 16px;
      line-height: 19px;
      color: #ffffff;

      margin-bottom: 15px;
      display: flex;
      justify-content: start;
      align-items: center;
      & img {
        width: 24px;
        height: 24px;
      }
    }

    .sidebar-new {
      width: 33px;
      height: 17px;
      background: linear-gradient(270deg, #7b31e4 0%, #3368f7 100%);
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;

      font-family: "InterBold";
      font-size: 9px;
      line-height: 11px;
      color: #ffffff;
    }

    .creater-more {
      font-family: "InterMedium";
      font-size: 16px;
      line-height: 19px;
      color: #ffffff;
      display: flex;
      justify-content: start;
      align-items: center;
      margin: 12px 0 24px;
    }

    .sidebar-card {
      display: flex;
      justify-content: center;
      margin-top: 10px;

      & > div {
        position: relative;
        width: 217px;
        height: 247px;
        background: #1d1d1d;
        border-radius: 20px;
        .scard-header {
          position: relative;
          width: 217px;
          height: 77px;
          background-image: url(../imgs/scard-bg.png);
          border-top-left-radius: 20px;
          border-top-right-radius: 20px;

          & > img {
            position: absolute;
            width: 64px;
            height: 64px;
            bottom: -32px;
            left: 76.5px;
          }
        }

        .scard-body {
          display: flex;
          flex-direction: column;
          align-items: center;

          .scard-title {
            margin-top: 43px;
            text-align: center;
            color: #ffffff;

            font-family: "InterBold";
            font-size: 16px;
            line-height: 19px;
          }

          .scard-content {
            width: 164px;
            height: 34px;
            text-align: center;
            color: #959290;
            margin-top: 4px;

            font-family: "InterRegular";
            font-size: 12px;
            line-height: 141.52%;
          }

          .scard-subscribe {
            width: 105px;
            height: 30px;
            background: #2a2a2a;
            border-radius: 100px;
            margin-top: 16px;
            border: none;

            font-family: "InterRegular";
            font-size: 14px;
            line-height: 17px;
            text-align: center;
            color: #959290;
          }
        }
      }
    }
  }
}
