@font-face {
  font-family: "InterRegular";
  src: url("./assets/font/Inter-Regular.otf") format("OpenType");
}
@font-face {
  font-family: "InterBold";
  src: url("./assets/font/Inter-Bold.otf") format("OpenType");
}
@font-face {
  font-family: "InterMedium";
  src: url("./assets/font/Inter-Medium.otf") format("OpenType");
}

body {
  margin: 0;
  /* font-family: -appl  */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: "sans-serif";
  font-style: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
